.grid,
.unit {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.grid {
	display: block;
	clear: both;
}
.grid .unit {
	float: left;
	width: 100%;
	padding: 10px 10px 55px 10px;
}

.grid .unit:first-child { padding-left: 20px; }
.grid .unit:last-child { padding-right: 20px; }

.unit .unit:first-child { padding-left: 0; }
.unit .unit:last-child { padding-right: 0; }
.unit .grid:first-child > .unit { padding-top: 0; }
.unit .grid:last-child > .unit { padding-bottom: 0; }

.wrap .grid,
.grid.wrap {
	min-width:320px;
	max-width: 480px;
	margin: 0 auto;
}

.grid .whole      { width: 100%; }
.grid .half       { width: 50%; }
.grid .one-third  { width: 33.3332%; }
.grid .two-thirds { width: 66.6665%; }

.grid {
	*zoom: 1;
}
.grid:before, .grid:after {
	display: table;
	content: "";
	line-height: 0;
}
.grid:after {
	clear: both;
}

.align-center { text-align: center; }
.align-left   { text-align: left; }
.align-right  { text-align: right; }
.pull-left    { float: left; }
.pull-right   { float: right; }

/* Responsive Stuff */
@media screen and (max-width: 320px) {
  .grid .unit {
    width: 100% !important;
    padding-left: 10px;
    padding-right: 10px;
  }
  .unit .grid .unit {
    padding-left: 0px;
    padding-right: 0px;
  }

  .center-on-mobiles {
    text-align: center !important;
  }
  .hide-on-mobiles {
    display: none !important;
  }
}