@charset "UTF-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Roboto:300);
@import url("gridism.css");
@import url("normalize.css");

.workout {
}
.workoutImg {
    width:300px;
}
#errors {
    color:red;
}
.hidden {
	display:none;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #232629;
    background-color: #fff;
}
p {
    line-height: 1.4;
    margin-top: 0px;
    margin-bottom: 0px;
}
span {
    margin-top: 0px;
    margin-bottom: 0px;
}
h2 {
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}
h3 {
    font-size: 1em;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 1.3px;
}
h4 {
    font-size: .8em;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 1.3px;
}
.some-padding {
    padding-top:30px;
}
/* choose a workout plan page styles */
.plan {
    width:100%;
    height:150px;
    background-color:#F2F2F2;
    margin:10px;
    padding-right: 10px;
    min-width: 300px;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
}
.plan:hover {
    background-color:#D8D8D8;
}
.muscle {
    background: url(icons/dumbbell.png) no-repeat center center; 
    background-color:#05B378;
    width:25%;
    height: 100%;
    float: left;
    margin-right:20px;

}
.skinny {
    background: url(icons/slim.png) no-repeat center center; 
    background-color:#05B378;
    width:25%;
    height: 100%;
    float: left;
    margin-right:20px;
}
.space {
    padding-top:10px;
}
/* prfile template */
#profile {
        
	display: inline-block;
        height: auto;
	width: 100%;
	min-width: 300px;
	
}
.profile-info {
   width:64%;
   height:auto;
   float:left;
    
}
#photo {
    background: url(icons/users81.png) no-repeat center center;
    background-color: #F2F2F2;
    border-radius: 100%;
    width:25%;
    height:25%;
    float:left;
    
}
.circle-container {
    float:left;
    width: 30%; 
    height:170px;
}

.circle {
  border-radius:50%;
  width: 100%;
  height:100%;
  background: blue;
}
#goal {
    font-size:20px;
    color:#05B378;
    margin:0px !important;
}
#edit-weight {
    display:none;
}
.slide {
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
} 
#edit-target-weight {
    display:none;
}
/* profile template tabs CSS */
.tab {
    padding-top: 50px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    background: #fff;
    width: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-weight: 300;
    color: #888;
}
.tabs {
	display: table;
	position: relative;
	overflow: hidden;
	margin: 0;
	width: 100%;
	padding: 0px;
}
.tabs li {
    float: left;
    line-height: 38px;
    overflow: hidden;
    padding: 0;
    width:25%;
    text-align:center;
    position: relative;
}
.tabs a {
    background-color: #eff0f2;
    border-bottom: 1px solid #fff;
    color: #888;
    font-weight: 500;
    display: block;
    letter-spacing: 0;
    outline: none;
    padding: 0 10px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-bottom: 2px solid #05B378;
}
/* PUSH MENU */
#menu {
	position: fixed;
	top: 0;
	left: -280px;
	width: 280px;
	height: 100%;
	padding: 50px 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
	text-align: center;
	background-color: #05B378;
}
#menu .brand {
    height: 51px;
    font-size: 70px;
    font-weight: 900;
    line-height: .6;
    color: #ddd;
}
#menu ul {
    padding: 0;
    margin-top: 30px;
    list-style-type: none;
}

#menu ul li a {
    display: block;
    font-weight: 900;
    line-height: 50px;
    color: #232629;
    border-top: 1px solid #eee;
    text-decoration: none;
    text-transform: uppercase;

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
#menu ul li:last-child a {
    border-bottom: 1px solid #eee;
}
#menu ul li a:hover {
    letter-spacing: 1px;
}
body.open #menu {
    left: 0;
}
/* MAIN PAGE */
.page-wrap {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
}
body.open .page-wrap {
	margin-left: 280px;
}

/* MENU TOGGLE ICON */

button:focus {
    outline: none;
}
#menu-toggle {
    position: relative;
    width: 51px;
    margin:30px;
    height: 51px;
    cursor: pointer;
    border: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: #05B378;
}
#menu-toggle:before,
#menu-toggle:after {
    position: absolute;
    content: "";
    content: "";
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    background-color: #232629;
}
#menu-toggle:before {
    top: 12px;
    left: 25px;
    width: 1px;
    height: 27px;
}
#menu-toggle:after {
    top: 25px;
    left: 12px;
    width: 27px;
    height: 1px;
}
body.open button#menu-toggle:before,
body.open button#menu-toggle:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* CONTENT CONTAINER */
.container {
	max-width: 600px;
	min-width: 320px;
	margin: 0 auto;
}
/* media Queries */
@media (max-width: 700px) {
    p {
        font-size: 12px;
    }
    h2 { 
        font-size:.9em;
    }
}
